ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrap {
	width: 700px;
	height: 200px;
	margin: 50px auto;
	background: #fff;
}
.wrap h1 {
	font-size: 24px;
	line-height: 200px;
	text-align: center;
}
.effect {
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect:before, .effect:after {
	position: absolute;
	z-index: -1;
	top: 50%;
	right: 10px;
	bottom: 0;
	left: 10px;
	content: "";
	border-radius: 100px/10px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.box {
	clear: both;
	overflow: hidden;
	width: 980px;
	height: auto;
	margin: 0 auto;
}
.box li {
	font-size: 30px;
	line-height: 220px;
	position: relative;
	float: left;
	width: 300px;
	height: 220px;
	margin: 20px 10px;
	text-align: center;
	border: 2px solid #efefef;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}
.box li:before {
	position: absolute;
	z-index: -2;
	bottom: 8px;
	left: 20px;
	width: 90%;
	height: 80%;
	content: '';
	-webkit-transform: skew(-12deg) rotate(-4deg);
	background: transparent;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6)
}
.box li:after {
	position: absolute;
	z-index: -1;
	right: 20px;
	bottom: 8px;
	width: 90%;
	height: 80%;
	content: '';
	-webkit-transform: skew(12deg) rotate(4deg);
	background: transparent;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6)
}
.box li img {
	display: block;
	width: 290px;
	height: 210px;
	margin: 5px;
}
