@charset "utf-8";
/* CSS Document */
body {
	font-family: "微软雅黑";
	font-size: 12px;
}
/*全局控制*/
body, form, input, h1, p {
	margin: 0;
	padding: 0;
	border: 0;
}
/*重置浏览器的默认样式*/
.bg {
	position: relative; /*设置相对定位*/
	width: 1431px;
	height: 717px;
	background: url(images/form_bg.jpg) no-repeat; /*添加背景图片*/
}
form {
	position: absolute; /*设置绝对定位*/
	top: 10%;
	left: 48%;
	width: 600px;
	height: 400px;
	margin: 50px auto; /*使表单在浏览器中居中*/
	padding-left: 30px;
}
h2 { /*控制标题*/
	margin: 16px 0;
	text-align: center;
}
p {
	margin-top: 20px;
}
p span {
	display: inline-block; /*将行内元素转换为行内块元素*/
	width: 75px;
	padding-right: 10px;
	text-align: right;
}
p input {
	width: 200px;
	height: 18px;
	padding: 2px; /*设置输入框与输入内容之间拉开一些距离*/
	border: 1px solid #d4cdba;
}
.lucky input {
	width: 100px;
	height: 24px;
}
.btn input { /*设置两个按钮的宽高、边距及边框样式*/
	font-family: "微软雅黑";
	font-size: 18px;
	width: 100px;
	height: 30px;
	margin-top: 20px;
	margin-left: 75px;
	color: #fff;
	border-radius: 3px; /*设置圆角边框*/
	background: #93b518;
}
