body, figure, figcaption, img, h2, p {
	margin: 0;
	padding: 0;
}

figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 33.33%;
	height: 350px;
}
figcaption {
	font-family: "微软雅黑"
	position: absolute;
	top: 0;
	color: #fff;
	lef: 0px;
}
figure img {
	transition: all 0.35s;
	opacity: 0.8;
}

figure figcaption p {
	transition: all 0.35s;
}
/*@media screen and(max-width:600px){
	figure{width:100%}
	
}
@media screen and(min-width:601px)and(max-width:100px){
	figure{width:50%}
	
}
@media screen and(min-width:1001px){
	figure{width:33%}
	
}*/
.test1 {
	background: #2f0000
}
.test1 figcaption p {
	margin: 5px;
	transform: translate(-120px, 0px)
	text-align: center;
	color: #333;
	background: #fff;
}
.test1 figcaption {
	padding: 20px;
}
.test1 figcaption p:nth-of-type(1) {
	transition: 0.05s
}
.test1 figcaption p:nth-of-type(2) {
	transition: 0.1s
}
.test1 figcaption p:nth-of-type(1) {
	transition: 0.05s
}
.test1:hover figcaption p {
	transform: translate(0px, 0px)
}
.test1:hover img {
	transform: translate(-50px, 0px);
}
