/* 删除浏览器的默认样式 */
* {
	list-style: none;
	outline: none;
}
/* 全局控制 */
body {
	font-family: "微软雅黑";
	text-align: center;
}
a {
	font-size: 22px;
	display: inline-block;
	text-indent: 1em;
	color: #5e2d00;
}
a:nth-child(1) {
	text-indent: 0;
}
/* 设置第一个链接的首行缩进为0 */
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #f03;
}
dl {
	display: none;
}
dd {
	font-family: "微软雅黑";
	font-size: 22px;
	line-height: 38px;
	color: #333;
}
dd:before {
	content: url(images/11.png);
}
/* 添加小图片 */
dd:nth-child(odd) {
	color: #bda793;
}
dd:nth-child(2) em {
	font-weight: bold;
	font-style: normal;
	color: #f03;
}
dd:nth-child(3) em {
	font-weight: bold;
	font-style: normal;
	color: #5e2d00;
}
:target {
	display: block;
}
/* 链接到的内容部分显示 */
